.genre-each-song{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
}

.genre-song-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #dfdfdf;
    padding: 10px;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.genre-song-img{
    height: 150px;
    border-radius: 100%;
    border: 1px solid;
}

.genre-song-name{
    font-size: 20px;  
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical; 
}

.genre-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.genre-engagement{
    cursor: pointer;
}

.genre-title{
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.genre-button{
    background-color: #4c63aa;
    border-radius: 30px;
    border: 1px solid;
    color: white;
    padding: 15px 32px;
    font-size: 16px; 
    width: 15vw;
    height: 5vh;
    cursor: pointer;
}