.allGenres-page-padding{
    margin-left: 12vw;
    margin-right: 12vw;
}

.allGenres-content-div{
    background-color: #f5f5f5;
    padding-bottom: 190px;
    border: 1px solid whitesmoke;
}

.allGenres-heading{
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
}