*{
    padding: 0;
    margin: 0;
}

header{
    background: #38497E;
}

.header-text{
    color: white;
    display: flex;
    justify-content: left;
    font-size: xx-large;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}